<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnPhpunitDeprecation="true">

    <testsuites>
        <testsuite name="Amtgard Redis Set Queue">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

</phpunit>
